EXTRA_DIRS=+rasppi:+$MKQNXIMAGE_EXTRAS/cti:+qnx
OPT_TYPE=rasppi
OPT_REPOS='$BOOT:$BOOT/boot:$SYSTEM:$BSP/prebuilt:$BSP/install:$ASSETS/fonts/build/stage:$ASSETS:$SRC/stage/nto:$SRC/stage/nto/$QNX_ARCHDIR:$SRC:$APK/nto:$APK/nto/$QNX_ARCHDIR:$APK:$QNX_TARGET'
OPT_PART_SIZES='800:10240:32000'
OPT_USB=no
OPT_PYTHON=no
OPT_GRAPHICS=no
OPT_SLM=yes
OPT_SYS_INODES=500000
OPT_DATA_INODES=500000
OPT_TIME_SERVERS=$TIME_SERVERS
OPT_ROOT=no
OPT_SECURE_PROCFS=no
OPT_SSH_IDENT=$BUILD/root_authorized_keys
OPT_COPY_DEST=$BUILD/rpi4.img
OPT_HOSTNAME=qnxpi
