[Desktop Entry]
Version=1.0
Name=QNX Everywhere Documentation
Comment=The QNX Everywhere Documentation
Icon=org.xfce.webbrowser
Exec=xfce-open --launch WebBrowser https://www.qnx.com/developers/docs/qnxeverywhere/index.html?ref=qnxdevdesktop
Type=Application
Categories=WebResources;
