[Desktop Entry]
Version=1.0
Name=Open a Gitlab Issue
Comment=Open a Gitlab Issue
Icon=org.xfce.webbrowser
Exec=xfce-open --launch WebBrowser https://gitlab.com/groups/qnx/-/issues?ref=qnxdevdesktop
Type=Application
Categories=WebSupport;
