[Desktop Entry]
Version=1.0
Name=QNX OSS Dashboard
Comment=The QNX Open Source Software Dashboard
Icon=org.xfce.webbrowser
Exec=xfce-open --launch WebBrowser https://oss.qnx.com
Type=Application
Categories=WebResources;
