[Desktop Entry]
Name=Print Editor (GTK+ 4)
Comment=A simple editor demonstrating GTK printing
Exec=gtk4-print-editor %f
Icon=org.gtk.PrintEditor4
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
