[Desktop Entry]
Name=GTK+ 4 Demo
Comment=GTK+ 4 code examples and demonstrations
Exec=gtk4-demo
Icon=org.gtk.Demo4
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
