EXTRA_DIRS=+$MKQNXIMAGE_EXTRAS/cti:+qnx
OPT_TYPE=qemu
OPT_REPOS='$SYSTEM:$ASSETS/fonts/build/stage:$ASSETS:$APK/nto:$APK/nto/$QNX_ARCHDIR:$APK:$SRC/stage/nto:$SRC/stage/nto/$QNX_ARCHDIR:$SRC:$QNX_TARGET'
OPT_BOOT_SIZE=800
OPT_SYS_SIZE=10240
OPT_SYS_INODES=500000
OPT_DATA_SIZE=32000
OPT_DATA_INODES=500000
OPT_PYTHON=no
OPT_GRAPHICS=no
OPT_SLM=yes
OPT_TIME_SERVERS=$TIME_SERVERS
OPT_ROOT=no
OPT_SECURE_PROCFS=no
OPT_SSH_IDENT=$BUILD/root_authorized_keys
OPT_HOSTNAME=qnxqemu
